WcfRequests/Service References/ServiceReference/service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/DataContractAssembly" />
  <xs:element name="Request">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DataContractAssembly" minOccurs="0" name="_Request" nillable="true" type="q1:FuncTagInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DataContractAssembly" minOccurs="0" name="RequestResult" nillable="true" type="q2:CallBackData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>